<div class='small-margin'>
  <div class='flex-end-container'>
    <button mat-raised-button color='primary' class='flex-end-container' (click)='onCreateProject()'>Create</button>
  </div>
  <div class="grid-container">
    <div *ngFor='let project of projects'>
      <mat-card class='mat-elevation-z2'>
        <mat-card-title>{{project.name}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          {{project.description}}
        </mat-card-content>
        <mat-card-actions class='flex-end-container'>
          <button mat-raised-button color='primary' (click)="openProject(project)">Open</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

