.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
}

.grid-container-label {
  justify-self: center;
}


.grid-container-select {
  justify-self: start;
  width: 100%;
}
