.flex-end-container{
  display: flex;
  justify-content: flex-end;
}

.small-margin{
  margin: 1%;
}


.grid-container {
  display: grid;
  column-gap: 2%;
  row-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
}
